@charset "UTF-8";
/* common */
body {
  margin: 0;
}

img {
  vertical-align: bottom;
  text-align: center;
}

h1, h2, p, a {
  margin: 0;
  line-height: 1.8;
  text-decoration: none;
  color: #000;
}

a:hover {
  background: skyblue;
}

/* header */
header .icon {
  width: 400px;
}

header .call {
  width: 320px;
}

header .container {
  margin: 0 150px;
  /* 横並び */
  display: flex;
  /* 上下中央そろえ */
  align-items: center;
  /* 左右両端に寄せる */
  justify-content: space-between;
}

header img {
  max-width: 100%;
}

/* navi */
nav {
  background: #5e17eb;
  
}

nav ul {
  list-style: none;
  max-width: 1100px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

nav li {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav a {
  /* リンクに幅を持たせる */
  display: block;
  color: white;
  padding: 16px 32px;
}

/* main */
main #greeting {
  display: flex;
  margin: 0 auto;
  padding: 16px 0;
  align-items: center;
  justify-content: center;
}

main .comment {
  margin: 0 8px;
}

section .kaichyou {
  border-radius: 10%;
  margin: 16px 16px;
  width: 200px;
  height: 200px;
}

main #news {
  text-align: center;
  font-size: 32px;
}

#news img {
  width: 50%;
}

#sns h2 {
  font-size: 32px;
  margin: 16px 0;
  text-align: center;
}

.instagram  {
  text-align: center;
  max-width: 100%;
}

#sns p {
  margin: 0 auto;
  width: 80%;
}

/* footer */
footer .icon {
  width: 400px;
}

footer .call {
  width: 320px;
}

footer .container {
  margin: 0 150px;
  /* 横並び */
  display: flex;
  /* 上下中央そろえ */
  align-items: center;
  /* 左右両端に寄せる */
  justify-content: space-between;
}

footer img {
  max-width: 100%;
}

footer .info {
  background: #efefef;
  text-align: center;
}

@media (max-width:700px) {
  header .container {
    flex-direction: column;
    margin: auto auto;
  }

  header img {
    width: 200px;
    height: auto;
  }

  main #greeting {
    flex-direction: column;
  }

  #news img {
    width: 80%;
  }

  footer .container {
    flex-direction: column;
    margin: 0 auto;
  }

  footer img {
    width: 200px;
    height: auto;
  }

}
